<!DOCTYPE html>
<html lang="en">
<head>
  <title>Анкета</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center" style='background:#00cc99'>
  <h1><font face="Calibri">Привет, дорогой информант!</h1>
  <p><font face="Calibri">Это небольшая анкета, заполнив которую, <i>Вы</i> поможете будущему российской лингвистики</p> 
</div>
  
<div class="container" style='background:#ccfff3'>
  <div class="row">
    <div class="col-sm-4">
      <h3><font face="Calibri">Укажите информацию о себе</h3>
      <form>
      <label><font size="3" face="Calibri">Пол: <input type="text" name="gender" required> </label><br>
      <label><font face="Calibri">Возраст: <input type="text" name="age" required></label><br>
      <label><font face="Calibri">Место рождения: <input type="text" name="place" required></label><br>
    </div>
    <div class="col-sm-8">
      <h3><font face="Calibri">Теперь <i>перепишите в ячейку вариант, который кажется вам правильным</i></h3>
      <label><font face="Calibri">Поезд из Петербурга <i>(останавливается/останавливаются)</i> через каждые полчаса. 
      <input type="text" name="first" face="Calibri" placeholder="Введите ответ.." required></label><br>
      <label><font face="Calibri">Яичница из трех яиц <i>(насыщает/насыщают).</i>
      <input type="text" name="second" face="Calibri" placeholder="Введите ответ.." required></label><br>
      <label><font face="Calibri">Машины на соседней улице <i>(столкнулись/столкнулся).</i>
      <input type="text" name="third" face="Calibri" placeholder="Введите ответ.." required></label><br>
      <label><font face="Calibri">Лепестки срезанных роз <i>(завянет/завянут)</i> очень быстро.
      <input type="text" name="forth"face="Calibri" placeholder="Введите ответ.." required></label><br>
      <input type="submit" value="Отправить">
      </form>
    </div>
  </div>
</div>

</body>
</html>
