<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Статистика</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
   .right { 
    float: right;
	padding-right: 70px; 
   }
</style> 
</head>
<body style='background:#e6fff9'>
<div class="jumbotron text-center" style='background:#00cc99'>
  <h1><font face="Calibri">Вот такие результаты</h1>
</div>

<div class = "right">
  <img src = "{{url_for('static', filename='stats.png')}}" />
</div>

    <p>
    {%for i in content%}
        {{i}}
        <br>
    {%endfor%}
    </p>
	
	
<p><font size="3" face="Calibri"><b>Если вы хотите вернуться на главную страницу с анкетой</b></p>

<ul>

    {% for name, url in urls.items() %}

    <a href="{{ url }}">{{ name }}</a>

    {% endfor %}

</ul>	
	
</body>
</html>
