<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="jumbotron text-center" style='background:#FFC0CB'>
  <h1><font face="Bahnschrift">Для паблика Лингвовести</h1>
</div>

    <meta charset="UTF-8">
    <title>Результаты работы анализатора</title>
    <div class = "jumbotron text-center">
        <h2 face="Bahnschrift">Граф семантического поля, где начальный узел - самое популярное прилагательное за последние 100 постов</h2>
<img src="{{ url_for("static", filename="ling.png") }}" alt="ops image">
    </div>
    <div class = "jumbotron text-center">
        <h2 face="Bahnschrift">Облако слов с соседями первого порядка </h2>
<img src="{{ url_for("static", filename="cloud_ling.png") }}" alt="ops image">
    </div>
    <div class = "jumbotron text-center">
        <h2 face="Bahnschrift">Посты, по которым было найдено самое частотное прилагательное</h2>
        <a href="https://docs.google.com/document/d/104M_ir945XNZAV3x6nwIg-Vn1lQlJ388sHBEFJAeEq0/edit">Посмотреть</a>
    </div>
    <div class = "jumbotron text-center">
        <h2 face="Bahnschrift">Корпус постов для трех сообществ (можно скачать файлы в формате .txt)</h2>
        <a href="https://drive.google.com/drive/folders/1ox0GwqbaBHnIswDA6cBeFaywXXy0xsb_">Посмотреть</a>
    </div>
</head>
<body>

</body>
</html>