<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="jumbotron text-center" style='background:#FFC0CB'>
        <h1><font face="Bahnschrift"><b>Выберите паблик Вконтакте</b>, для которого хотите посмотреть семантическое поле самого популярного прилагательного</h1>
</div>
    <div class="jumbotron text-center">
    <a href={{ url_for('lingvo') }} class="btn btn-danger">lingvovesti</a>
        <a href={{ url_for('medusa') }} class="btn btn-danger">medusa</a>
        <a href={{ url_for('cska') }} class="btn btn-danger">фан-клуб цска</a>
</div>
</head>
<body>

</body>
</html>